@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{
    --white: #ffffff;
    --gray: #5A5A5A;
    --white-contrast: #E5EDED;
    --blue-dark-teal: #1EBEB6;
    --blue-darker-teal: #38B1B1;
    --blue-light-teal: #80E7E1;
    --blue-lighter-teal: #E0F9F8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.main-title, .main-info{
    color: var(--blue-dark-teal);
}

.main-title{
    margin-top: 1.25rem;
}

.main-info{
    margin-top: 0.75rem;
    padding-bottom: 1rem;
}

.service-name{
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info{
    text-align: center;
 
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0;
}

main{
    text-align: center;

}


.grid-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item{
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-item:nth-child(even){
    background-color:var(--blue-darker-teal);;
    color: var(--white);
}

.grid-item:nth-child(odd){
    background-color: var(--white);
    color:var(--blue-dark-teal);
    
}

.grid-item:hover{
    transform: scale(1.02);

}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

