*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --gray: #5A5A5A;
    --white-contrast: #E5EDED;
    --blue-dark-teal: #1EBEB6;
    --blue-darker-teal: #38B1B1;
    --blue-light-teal: #80E7E1;
    --blue-lighter-teal: #E0F9F8;
}

body{
    width: 100%;
    height: 100%;

}

main{
    margin-top: 2.5rem;

}

.display--flex{
    display: flex;
    justify-content: center;
}

.m-0{
    margin-top: 0;
}

.home{
    width: 45%;
    padding: 1rem;
    display: flex;
 
    
}

.update{
    width: 80%;
    padding: 1rem;
    display: flex; 
}

.add-procedure{
    width: 50%;
    padding: 1rem;
    display: flex; 
}

.home__img{
    width: 100%;
    margin: auto;
}

.home__img img{
    width: 100%;
    position: relative;
    z-index: -1;
}



.intro{
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 1rem;
    gap: 1rem;



}

.intro__title{
    color: var(--blue-light-teal);
    font-size: 2rem;
}

.intro__description{
    color: var(--blue-darker-teal);
    font-size: 5.5rem;
    line-height: 1.1;

 
}

.intro__description2{
    color: var(--blue-darker-teal);

}

.intro__location a{
    color: var(--blue-light-teal);

}

.appointmentCard1{
    width: 40%;
    margin: 10px;
    background-color: var(--blue-darker-teal);
    flex-direction: column;
    border-radius: 20px;
    color: var(--white);
    padding: 1.5rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.appointmentCard{
    width: 60%;
    background-color: var(--blue-darker-teal);
    flex-direction: column;
    border-radius: 20px;
    color: var(--white);
    padding: 1.5rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book__title{
    margin-bottom: 1rem;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.book__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.toothNo__note{
    text-align: right;
    margin-bottom: 15px;
}

form{
    margin-top: 10px;
    
}

label{
    font-size: 1.15rem;
    font-weight: bold;
}

input[type="text"].toothNoStyle,
input[type="number"].procedFee, 
select, 
textarea{
    width: 70%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: var(--gray);
}

textarea{
    resize: none;
}

input[type="text"]{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: var(--gray);
}
.date__container{
    width: 70%;
}

.datepicker__style{
    padding-left: 15px;
    margin: 10px 0;
}

a{
    height: 70px;   
    resize: none;

}

textarea::placeholder{
    color: var(--gray);
    font-family: sans-serif;
}

option{
    padding: 7px;
    background-color: var(--white);
}

option:disabled{
    background-color: rgba(77, 61, 61, 0.24);
}

input[type="submit"]{
    border: none;
    color: var(--blue-dark-teal);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    padding: 1rem;

}

.book-button{
     width: 100%;
     margin: 10px 0;
}

input[type="submit"]:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.login__title{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.login__title__description{
    margin-top: -10px;
}

.back__update-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back__update-buttons1{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-update{
    width: 100%;
}

.btn-update1{
    width: 100%;
}


.search__bar-container{
    width: 20%;
    margin-top: 20px;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0 0.7rem;
    background-color: var(--white-contrast);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
   
}

.search__bar, .search__bar-icon{
    outline: none;
    border: none;
    background-color: var(--white-contrast);


}
.search__bar-icon{
   width: 60px;
   color: var(--gray);
   
}

.toothchart__type{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}


