
:root{
    --white: #ffffff;
    --gray: #5A5A5A;
    --white-contrast: #E5EDED;
    --blue-dark-teal: #1EBEB6;
    --blue-darker-teal: #38B1B1;
    --blue-light-teal: #80E7E1;
    --blue-lighter-teal: #E0F9F8;

} 

body{
    width: 100%;
    
}

.styled-table{
    width: 100%;
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 80%;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}



.styled-table thead tr{
    background-color: var(--blue-dark-teal);
    color: #ffffff;
    text-align: left;


}

.styled-table th,
.styled-table td{
    padding: 10px 5px;

}

.styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
}



.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--blue-dark-teal);
}

.pending_body-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-end;
    justify-content: center;
}   

.btn{
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    margin: 4px 2px;    
    cursor: pointer;
}

.btn-edit{
    background-color: var(--blue-light-teal);
    
}

.btn-delete{
    background-color: var(--blue-darker-teal);
}
.btn-view{
    background-color: #e7e7e7;
    color: black;
   
}


.bookAppointment{
    background-color: violet;
    color: black;
   
}

.bookAppointment:hover{
    opacity: 0.8;
}


.btn-delete:hover{
    background-color: var(--blue-darker-teal);
    opacity: 0.8;
}
.btn-view:hover{
    background-color: #e7e7e7;
    opacity: 0.8;
    
}
.btn-contact{
    background-color: #e82764;
    margin-bottom: 10px;
} 

.button-a{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
a .btn-back{
    height: 50px;
    width: 100%;
    border: none;
    color: var(--blue-dark-teal);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.75rem;
    margin:20px;

}

a .btn-back1{
    height: 50px;
    width: 100%;
    border: none;
    color: var(--blue-dark-teal);
    background-color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.75rem;

}

.btn-back:hover,.btn-back1:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


.btn-update{

    width: 48%;
}

.employee__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.add__ebutton{
    margin-left: 10%;
}



.add__ebutton-style{
    padding: 0.5rem 2rem;
    background-color: var(--blue-dark-teal);
    color: var(--white);
    font-weight: bold;
    border: 1px solid var(--blue-darker-teal);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 7px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.add__ebutton-style:hover{
    opacity: 0.7;
    cursor: pointer;
}

a{ 
    text-decoration: none;
}

.add-icon{
    margin-left: 10px;
    width: 20px;
    height: 20px;
   


}

.employee__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.employee__form{
    background-color: var(--blue-dark-teal);
    color: var(--white);
    width: 50%;
    border-radius: 10px;
    border: none;
    padding: 1rem 2rem;
    margin-top: 10px;

}

.employee__form-title{
    color: var(--blue-dark-teal);
    font-weight: bold;

    
}

.employee__form-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"].e_information, input[type="email"].e_information, input[type="date"].e_information{
    width: 70%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: var(--gray);
}


.back__ebutton-style, .back__procedures, .back__patient{
    padding: 0.5rem 2rem;
    background-color: var(--blue-dark-teal);
    color: var(--white);
    font-weight: bold;
    border: 1px solid var(--blue-darker-teal);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 7px;
    font-size: 1rem;
    display: flex;
    margin-left: 10px;
}

.back__procedures{
    margin-top: 10px;
}

.back__patient{
    margin-top: 10px;
}

.back__ebutton-style:hover, .back__procedures:hover{
    opacity: 0.7;
    cursor: pointer;
}

.margin--10{
    margin-top: 10px;
}

.profile__container{
    width: 100%;
    overflow: hidden;
}


.styled-table-history{
    width: 100%;
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


.styled-table-history thead tr{
    background-color:var(--blue-dark-teal);
    color: #ffffff;
    text-align: left;


}


.styled-table-history th,
.styled-table-history td{
    padding: 10px 12px;
}

.styled-table-history tbody tr{
    border-bottom: 1px solid #dddddd;
}

.styled-table-history tbody tr:last-of-type{
    border-bottom: 2px solid var(--gray);
}


.search__bar-container-history{
    width: 20%;
    margin-top: 20px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0 0.7rem;
    background-color: var(--white-contrast);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
   
}


.profile__container::-webkit-scrollbar {
    width: 10px;
}
  
.profile__container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.profile__container::-webkit-scrollbar-thumb {
    background: #888; 
}

.profile__container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.h1__apppointment{
    color: var(--blue-darker-teal);
}
