*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --blue-blue-dark: #1EBEB6;

    
}

header{
    background-color: var(--blue-blue-dark);
    color: var(--white);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
nav ul{

    justify-content: center;
    align-items: center;
    display: none;
   
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 700;
    margin: 1rem;
    padding: 4px 10px;
}

nav ul li a:hover{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
 
}
nav ul li a.active{
    background: var(--white);
    color: var(--blue-blue-dark);
    border-radius: 8px; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


.title{
    display: flex;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}

.title__logo{
    width: 100px;
    height: 100px;
    

}

.title__name{
  margin-left: -1rem;
}

.btn__logout{
    background-color: var(--white);
    color: var(--blue-blue-dark);
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 1rem;
    font-weight: 800;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn__logout:hover{
    background: rgba(255, 255, 255, 0.9);
    color: var(--blue-blue-dark);
    border-radius: 15px;
}

.btn__login{
    background-color: var(--white);
    color: var(--blue-blue-dark);
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 1rem;
    font-weight: 800;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn__login:hover{
    background: rgba(255, 255, 255, 0.9);
    color: var(--blue-blue-dark);
    border-radius: 15px;
}

.username__navbar{
    border-bottom:  1px solid white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 20px;

}

.User-Icon{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: white;
}

@media (min-width: 1150px){
    nav ul{
        display: flex;

    }
}
