:root{
    --white: #ffffff;
    --gray: #706c6c;
    --white-contrast: #E5EDED;
    --blue-dark-teal: #1EBEB6;
    --blue-darker-teal: #38B1B1;
    --blue-light-teal: #50fcf3;
    --blue-lighter-teal: #E0F9F8;
} 

.register{
    height: 100vh;
    background-color: rgb(111, 183, 183);
    display: flex;
    align-items: center;
    justify-content: center;
}
.register__card{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    max-height: 700px;
    overflow: hidden;
}

.register__left{
    flex: 1;
    background: linear-gradient(rgba(34, 122, 122, 0.529),rgba(0, 0, 0, 0.413)), url("https://images.pexels.com/photos/3845843/pexels-photo-3845843.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

.register__left-title{
    font-size: 50px;
    line-height: 65px;
    color: white;
    text-align: left;
    font-weight: 200px;
}

.register__left-title2{
    font-size: 20px;
    line-height: 5px;
    text-align: left;
    font-weight: 200px;
}

.register__left-description{
    text-align: left;
    font-weight: 200px;
    line-height: 30px;
}

.register_span{
    font-size: 14px;
    text-align: left;
}


button.login-button{
    width: 50%;
    padding: 10px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
   
}

button.login-button:hover{
    background-color: white;
    color: rgb(26, 109, 109);
    border: 1px solid rgb(26, 109, 109);
    font-weight: 700;
}

  
 

.register__right{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
 

}

.register__right-title{

    color: rgb(26, 109, 109);
}
            
form.register-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
                
input[type="text"].register-username ,
input[type="text"].register-fullname, 
input[type="email"].register-email , 
input[type="password"].register-password,
input[type="text"].register-phone,
input[type="date"].register-birthdate,
select.register-gender
{
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
    outline: none;
    border-radius: 0;
    width: 200px;   


}

select.register-gender{
    margin: 0;
}

input[type="text"].register-username, input[type="text"].register-phone {
    margin-left: 20px;
}

.book-register{
    width: 50%;
    padding: 10px;
    border: none;
    background-color: rgb(72, 128, 129);
    color: white;
    font-weight: 300;
    cursor: pointer;
                    
}

.book-register:hover{

    background-color: rgba(72, 128, 129, 0.7);
 
                    
}


.register-form__row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.register-form-name{
    text-align: left;
    color: rgb(26, 109, 109);
    margin-right: 15px;
    font-size: 1rem;
}

.register-form__input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;



}
.offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
 
  }

.Intructions{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.85rem;
    width: 100%;
 
}
      
.hide{
    display: none;
}

.valid{
   display: inline-block;
   color: var(--blue-darker-teal);
}

.icon-times{
    color: red;
}

.icon-add{
    color: green;
   
}

.errmsg{
    background-color: var(--blue-darker-teal);
    padding: 10px;
    color: var(--white);
    border-radius: 10px;

}
